body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 32px;
  margin: 12px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 48px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 32px;
  margin-left: auto;
  /*Didn't realize I could use auto to align text to the right, how does this work exactly? 
  Looked into it and apparently if you do a margin auto it will horizontally center the element relative to the page. If you do width of the element it will prevent the contents from stretching to the edges of a page. Auto on the width makes it automatically take up whatever width the page has. */
}